@media (max-width: 768px) {
    ul.pictures-list {
        flex-direction: column;
        align-items: center;
    }
    ul {
        padding: 45px 20px;
    }

    li {
        padding: 0px;
        height: 430px;
    }

    .picture-info {
        transform: translateY(-80px);
    }

    h2 {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 5px;
    }


    img {
        width: 335px;
        height: 430px;
    }
}