main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.pictures-list{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.pictures-list .picture img {
    width: 100%;
}

.pictures-list .picture {
    width: 335px;
    height: 431px;
    gap: 20px;
    position: relative;
}

.picture-info {

    position: absolute;
    bottom: 40px;
    left: 20px;
}

.pictures-list .picture .picture-info .picture-name {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 700;
}